:root {
    --color1: #f0f8ff;
    --color2: #FDFFD6;
    --color3: #96A5B3;
    --color4: #526A80;
    --color5: #B1B39F;
    --black: #000000;
    --white: #fff;
    --grey: #333;
    --success: #A2E640;
    --error: #DB1103;
}

html,
body,
#root {
    height: 100%;
}

body {
    background-color: var(--grey);
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    background-color: var(--color3);
    text-align: center;
    padding: 2em;

}

header h1 {
    color: var(--grey);
    font-family: fantasy;
    font-weight: bold;
    letter-spacing: 3px;

}

nav {
    display: flex;
    padding: 1em;
    background-color: var(--grey);
    justify-content: space-evenly;
}

nav ul {
    list-style-type: none;
    display: flex;

}

nav li {
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: var(--color3);
}

.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.minHeight {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.home,
.register {
    background-color: var(--color3);
    margin: 0 auto;
    width: 80%;
    padding: 1em;
}

.home h1,
.register h1 {
    text-align: center;
}

.info,
.clients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.info-mobile {
    display: none;
}

.info p,
.clients p,
.info-mobile p {
    border: 1px solid #000000;
    padding: 1em;
    text-align: center;
}

.clients button,
.confirmation p button,
.register button {
    margin: 0 auto;
    background-color: var(--color4);
    color: #fff;
    border-radius: 5em;
}

.clients button:hover,
.register button:hover,
.confirmation p button:hover {
    cursor: pointer;
    background-color: var(--color5);
}

.info p,.info-mobile p {
    font-weight: 900;
}

.register form {
    display: flex;
    flex-direction: column;
}

.register input,
label {
    width: 40%;
    margin: 0 auto;
    margin-top: .5em;
}

.hide {
    display: none;
}

.empty {
    display: flex;
    color: var(--error);
    font-weight: 900;
}

.confirmation {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    color: #fff;
}

.confirmation span {
    color: var(--error);
    font-weight: 900;
}

.confirmation p button {
    margin-left: 1em;
}


footer {
    padding: 1em;
    text-align: center;
}

footer p {
    color: var(--white);
}

@media(width<750px) {

    .home,
    .register,
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .clients-main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #000000;
        border-top: 1px solid #000000;
    }

    .clients,
    .info-mobile {
        display: flex;
        flex-direction: column;

    }

    .info p {
        display: none;
    }
    

    .clients p,
    .info-mobile p {
        width: 10em;
        height: 2em;
        font-size: smaller;
        padding: .5em;
    }
   

    .clients button,
    .confirmation p button,
    .register button {
        font-size: smaller;
        padding: .2em;

    }

}